body
{
    margin: 0px;
    width: 100%;
    background-color: #FFFFFF;
}
.myButton
{
    padding: 5px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    color: #FFFFFF;
    background-color: green;
    border-style: solid;
    border-color: #006600;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
.myButton:hover
{
    background-color: #006600;
}


table#course 
{
    border: 1px solid green;
    border-collapse: collapse;
} 
#course td
{
    height: 35px;
    vertical-align: middle;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #008000;
    padding-left: 40px;
}
#course th
{
    height: 40px;
    vertical-align: middle;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #008000;
    background-color: green;
    color: #FFFFFF;
}

.top1
{
    width: 900px;
    height: 120px;
    background-color: #FFFFFF;    
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #666666;
}
#mainP
{
    width: 900px;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    
}
#mainP_cv
{
    width: 900px;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    
}
 .menu_table
{
    width: 500px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

 #page
{
    
    margin: 0px auto 0px auto;
}
 .emailme
{
    float: right;
    width: auto;
 
}
     
#header
{
    height: 75px;
    background-color: #999999;   
}
#header_M
{
     height: 75px;
     width: 900px
}

#footer
{
    margin: 10px;
    padding: 10px;
    clear: both
} 

/* unvisited link */
a:link
{
    color: #000000;
}

/* visited link */
a:visited
{
    color: #000000;
}

/* mouse over link */
a:hover
{
    color: #333333;
}

/* selected link */
a:active {
    color: #000000;
}  
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}  